@use './searchBar';
@use './mainView';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(236, 204, 192);
}
::-webkit-scrollbar {
    width: 2px;  /* Remove scrollbar space */
    background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 39);
}

.App {
    text-align: center;
    padding: 40px;
}

